# This configuration is used to create a dummy schedule
# which our tests will be used on.
set WEEKS  1

add ROOM 'Perfect Room' 50
add ROOM 'Small Room'   10
add ROOM 'Big Room'     500

# Teacher is unavailable on day 2 (Wednesday) for testing purposes
add TEACHER 'Dummy Teacher' 2 1 1

add COURSE 'Dummy Course' 5 0

add SPECIALIZATION 'Dummy Specialization' 35 0